i{
    margin-right: 10px;
}

h2{
    font-weight: 500;
    margin: 0;
    padding: 20px 0;
}

tr:nth-child(even){
    background-color: rgb(32, 32, 32);
}

tr{
    text-align: left;
}

#detections-clean{
    margin: 10px;
    padding: 10px;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    border-left: rgb(79, 255, 31) solid 3px;
    border-right: rgb(79, 255, 31) solid 3px;
    word-break: break-all;
}

#detections-suspicious{
    margin: 10px;
    padding: 10px;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    border-left: rgb(255, 215, 0) solid 3px;
    border-right: rgb(255, 215, 0) solid 3px;
    word-break: break-all;
}

#detections-cheat, #detections-cheating{
    margin: 10px;
    padding: 10px;
    background-color: rgb(32, 32, 32);
    border-radius: 10px;
    border-left: rgb(255, 0, 0) solid 3px;
    border-right: rgb(255, 0, 0) solid 3px;
    word-break: break-all;
}

#form{
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px black;
    background-color: rgb(21, 21, 21);
    overflow: auto;
}

#form-title{
    font-weight: lighter;
    font-size: larger;
    padding: 10px;
}

#form-bar{
    border-top: 1px solid whitesmoke;
}

#form-content{
    padding: 10px;
    overflow-y: auto;
    max-height: 350px;
    scrollbar-color: rgb(45, 45, 45) rgb(30, 30, 30);
}

#forms-container{
    gap: 15px;
}
