h2{
    font-weight: 500;
    margin: 0;
    padding: 20px 0;
}

tr:nth-child(even){
    background-color: rgb(41, 41, 41);
}

tr{
    text-align: left;
}

#detections-clean{
    margin: 10px;
    padding: 5px;
    background-color: rgba(79, 255, 31, 0.5);
    border-radius: 5px;
    border: rgb(79, 255, 31) solid 1px;
}

#detections-suspicious{
    margin: 10px;
    padding: 5px;
    background-color: rgba(255, 215, 0, 0.5);
    border-radius: 5px;
    border: gold solid 1px;
}

#detections-cheat{
    margin: 10px;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 5px;
    border: red solid 1px;
}

#form{
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px black;
    background-color: rgb(21, 21, 21);
    overflow: auto;
}

#form-title{
    font-weight: lighter;
    font-size: larger;
    padding: 10px;
}

#form-bar{
    border-top: 1px solid whitesmoke;
}

#form-content{
    padding: 10px;
    overflow-y: auto;
    max-height: 350px;
    scrollbar-color: rgb(45, 45, 45) rgb(30, 30, 30);
}

#forms-container{
    gap: 15px;
}
