/*#############################################################*/
/*########################## GENERIC ##########################*/
/*#############################################################*/

* , *:before, *:after{ 
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    background-color: rgb(28, 28, 28);
    height: 100%;
}   

body{
    height: 100%;
    margin: 0;
    padding: 0 10px;
}

.w100{
    width: 100%;
}

.h100{
    height: 100%;
}

.dir-row{
    display: flex;
}

.dir-column{
    display: flex;
    flex-direction: column;
}

.area-fill{
    flex: 1;
}

.ver-center{
    display: flex;
    align-items: center;
}

.hor-center{
    display: flex;
    justify-content: center;
}

.spc-around{
    justify-content: space-around;
}

.spc-between{
    justify-content: space-between;
}

.spc-evenly{
    justify-content: space-evenly;
}
